li{
  list-style: none;
}

.accordion{
  width: 500px;
  margin-bottom: 10px;
}

.accordion__control{
  padding: 20px;
  border: 1px solid tomato;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.accordion__control::webkit-details-marker {
  display: none;
}

.accordion__title{
  margin: 0;
}

.accordion__icon{
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  background-color: white;
  box-shadow: 1px 1px 1px 1px black;
}

.accordion__icon::before{
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  width: 50%;
  height: 1px;
  background-color: tomato;
}


.accordion__icon::after{
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  width: 1px;
  height: 50%;
  background-color: tomato;
}

.accordion[open] .accordion__icon{
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}


.accordion__content{
  padding: 20px;
  border: 1px solid tomato;
  border-top: 1px solid transparent;
}


/*====================*/

.accordion__control-two{
  width: 100%;
  border: 1px solid tomato;
  padding: 10px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion__content-two{
  padding: 20px;
  border: 1px solid tomato;
  border-top: 1px solid transparent;
  display: none;
}

.open {
  display: block;
}

.open .accordion__icon{
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}